<ion-view hide-back-button="true">
	<ion-content class="tab-fibertel-content">

    <div class="tab-fibertel-title" ng-click="$ionicGoBack()">
			<i class="icon ion-chevron-left icon-accessory" style="color:white;">  </i>
      Información Legal
    </div>

		<div class="padding">
			<h3 style="font-family: latoregular; color:#808080; text-align: justify; font-size:16px; margin: 0px;">
				Los servicios que presta Cablevisión S.A. están sujetos a disponibilidad técnica y geográfica dentro del territorio de la República Argentina © 1997 / 2016 Cablevisión S.A.
			</h3>
			<h3 style="font-family: latoregular; color:#808080; text-align: justify; font-size:16px; margin: 0px; padding-top:15px;">
				Todos los derechos reservados - Hornos 690 - Ciudad de Bs. As.<br>CUIT 30-57365208-4<br><a style="font-family:'latobold'; color:#f02933; text-decoration:underline;" onclick="window.open('https://www.cablevisionfibertel.com.ar/section/view/2532', '_system', 'location=yes')">Protección de datos personales</a>
			</h3>
			<h3 style="font-family: latoregular; color:#808080; text-align: justify; font-size:16px; margin: 0px; padding-top:15px;">
				Dirección General de Defensa y Protección al Consumidor, para consultas y/o denuncias, <a style="font-family:'latobold'; color:#f02933; text-decoration:underline;" onclick="window.open('http://consumidor.gob.ar/', '_system', 'location=yes')">ingrese aquí</a>
			</h3>
		</div>

  </ion-content>

</ion-view>
