<ion-view>

  <ion-content class="tab-fibertel-content" class="has-header" has-bouncing="false">

    <div align="center" style="align:center; margin-top: 25%;">
      <div>
        <img src="img/error-connection.svg" style="width:85px;">
      </div>
      <div style="padding:40px;">
        <h4 style="font-size:19px; color:#6e6e6e;">
          <b>¡Parece que no hay conexión!</b>
        </h4>
        <h4 style="padding-top:10px; color:#6e6e6e;">
          Verifica la misma en tus ajustes o busca una red Wi-Fi cercana
        </h4>
      </div>
    </div>

  </ion-content>
</ion-view>
