<ion-view hide-nav-bar="true">
  <ion-content class="fibertel-login-content" overflow-scroll="false">
      <div style="display:table; height:100%; width: 100%;">
      <div class="fibertel-container">
         <div class="fibertel-header-login">
          <div class="contenedor">
            <div class="fila">
              <div class="col"><img ng-src="img/logos.svg" style="height:64px;"></img></div>
            </div>
          </div>
        </div>

        <h3 align="center" style="padding-top:20px; font-size:20px ; color:#000000;">
          <b>¡Bienvenido!</b>
        </h3>

        <p align="center" style="margin-bottom: 20px; margin-top:20px; margin-left:40px; margin-right:40px; font-size:18px ; color:#000000;" class="text-wellcome">
          Accedé a tus facturas, consultá tu estado de cuenta y recibí notificaciones sobre tus próximos vencimientos.
        </p>

        <a ng-click="goToLogin()" class="fibertel-button-red botones_tablet">
          Continuar
        </a>

        <a ng-click="goToLogin()" class="fibertel-button-red ocultar_en_tablet margen-boton-wellcome">
          Continuar
        </a>

      </div>
     </div>

  </ion-content>
</ion-view>
